{
  "parser": "babel-eslint",
  "extends": ["airbnb-base", "prettier"],
  "plugins": ["prettier"],
  "env": {
    "browser": true,
    "jasmine": true
  },
  "rules": {
    "prettier/prettier": "error",
    "import/prefer-default-export": "off",
    "no-restricted-syntax": "off",
    "no-use-before-define": "off",
    "no-prototype-builtins": "off",
    "no-else-return": "off",
    "arrow-body-style": "off",
    "no-plusplus": "off"
  }
}
